.vscode/
.idea/

bazel-*
*.swp
*.o
*.log
*.so
*.a
*.dylib

CMakeCache.txt                                                                                                                                           
CMakeFiles
CMakeScripts
cmake_third_party/
cmake-build-debug/

build/
*.pb.h
*.pb.cc

