.vscode/
.idea/

bazel-*
*.swp
*.o
*.log
*.so
*.a
*.dylib

CMakeCache.txt                                                                                                                                           
CMakeFiles
CMakeScripts
cmake_third_party/
cmake-build-debug/

build/
*.pb.h
*.pb.cc

async_download_src.bin
async_upload_dst.bin
download_dst.bin
download_src.bin
profiling/sysvars.data
upload_dst.bin
upload_src.bin